.vscode
.vscode/settings.json
.ipynb_checkpoints
.vscode/*
__pycache__
.vscode/launch.json
artifacts_s3/classifier.joblib
artifacts_s3/feature_engineering.joblib
mlruns
classifier.joblib
feature_engineering.joblib
*pem
.idea
.env